@font-face {
    font-family: 'Minecraftia';
    src: url('https://kassandei.github.io/font/Minecraftia-Regular.ttf') format('truetype');
}
* {
    font-family: 'Minecraftia', sans-serif;
    font-weight: bolder;
    color: rgb(0, 0, 0);
    text-shadow: 
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px  1px 0 #fff,
     1px  1px 0 #fff; /
}

body {
    background-image: url('imgs/wallpaper.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0;
}

#header {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-size: 50px;
    font-weight: bolder;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

p { text-align: center;}

.humanChoice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 40vh;
}

#choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px; 
}

#result {
    margin-top: 20px;
    text-align: center;
    word-spacing: 5px;
}

.humanChoice img {
    border: solid 2px transparent;
    border-radius: 4px;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for hover effect */
}

.humanChoice img:hover {
    border-color: rgb(0, 0, 0); /* Change border color on hover */
    background-color: rgb(236, 224, 247);
}

img {
    width: 150px;
    height: 150px;
}

footer {
    display: flex;
    justify-content: center;
    align-content: center;
}
